extends base.jade

block style 
  style
    include ../public/stylesheets/about.css
block content
    div.contact-page-div-h1
      h1.contactpage-h1
        | About Us
    section.about-us
      .about-us-p
        .about-us-p-h1
          p.about-us-primary-p More About Our Company
          h1 Want to Know More
          p.about-us-secondary-p
            | There arge many variations ohf passages of sorem gpsum ilable, but the majority have suffered alteration in some form, by ected humour, or randomised words whi.
          .about-us-div-ul
            p.about-us-ul
              i.medium.material-icons extension
              | Creative ideas base
            p.about-us-ul
              i.medium.material-icons person
              |  Assages of sorem gpsum ilable
            p.about-us-ul
              i.medium.material-icons devices
              |  Have suffered alteration in so
            p.about-us-ul
              i.medium.material-icons developer_mode
              |  Randomised words whi
          #Teacher.wrapper
            a(href='#')
              span More About Us
        .about-us-img
          img(src='./images/about-us-img.jpg' alt='')