extends base.jade

block content 
    div.contact-page-div-h1
      h1.contactpage-h1
        | Blogs

    section.news#Blogs
      .news-p
        p Our Latest News Blog
        h1 Latest News From Blog
      .news-card
        .news-1
          img(src='./images/news-1.jpg' alt='')
          .news-1-p
            p | Properties
            h3
              | Footprints in Time is perfect 
              br
              |  House in Kurashiki
            p READ MORE »
        .news-1
          img(src='./images/news-2.jpg' alt='')
          .news-1-p
            p | Properties
            h3
              | Footprints in Time is perfect 
              br
              |  House in Kurashiki
            p READ MORE »