doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Education Website
    link(rel='stylesheet' href='./stylesheets/style.css')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap' rel='stylesheet')
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Rubik&display=swap' rel='stylesheet')
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Abel&display=swap' rel='stylesheet')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')

  body
    header
      nav
        #logo.logo
          img(src='./images/logo.png' alt='')
        #navbar
          ul
            li
              a(href='/') Home
            li
              a(href='/about') About
            li
              a(href='/courses') Courses
            li
              a(href='/instructions') Instructions
            li
              a(href='/blogs') Blogs
            li
              a(href='/contact') Contact Us
        .search-container
          form(action='/')
            input(type='text' placeholder='   Search Courses' name='search')
            i#searchIcon.medium.material-icons search
    section.get-started
      .intro
        p Popular Online courses
        .heading
          h1 The New Way To
          h1 Learn Properly Is
          h1 With Us!
        .wrapper
          a(href='#cateogry')
            span Get Started
    section.cateogry#cateogry
      .cateogry-p
        p Popular Online Courses
        h1 Lets Browse All Cateogry
      .cards
        .card
          i.medium.material-icons.cateogryIcon web
          h2 Web Design
          p
            | Sorem hpsum folor sixdsft amhtget, consectetur adipiscing eliht, sed do eiusmod tempor incidi.
          p
            a(href='#') Read More > 
        .card
          i.medium.material-icons.cateogryIcon android
          h2 App Development
          p
            | Sorem hpsum folor sixdsft amhtget, consectetur adipiscing eliht, sed do eiusmod tempor incidi.
          p
            a(href='#') Read More > 
        .card
          i.medium.material-icons.cateogryIcon video_library
          h2 Video Editing
          p
            | Sorem hpsum folor sixdsft amhtget, consectetur adipiscing eliht, sed do eiusmod tempor incidi.
          p
            a(href='#') Read More > 
      .cards
        .card
          i.medium.material-icons.cateogryIcon devices
          h2 Digital Marketing
          p
            | Sorem hpsum folor sixdsft amhtget, consectetur adipiscing eliht, sed do eiusmod tempor incidi.
          p
            a(href='#') Read More > 
        .card
          i.medium.material-icons.cateogryIcon restore_page
          h2 Seo Marketing
          p
            | Sorem hpsum folor sixdsft amhtget, consectetur adipiscing eliht, sed do eiusmod tempor incidi.
          p
            a(href='#') Read More > 
        .card
          i.medium.material-icons.cateogryIcon create
          h2 Content Writing
          p
            | Sorem hpsum folor sixdsft amhtget, consectetur adipiscing eliht, sed do eiusmod tempor incidi.
          p
            a(href='#') Read More > 
      #CateogryButton.wrapper
        a(href='#')
          span Find More Courses
    section#topics.topics
      .topic
        .topic1.firstTopic
          i.medium.material-icons.cateogryIcon laptop_mac
          .counter
            p.counterNumber(data-target='1600') 0
            p.plusTopic  + topics
        .topic1.secondTopic
          i.medium.material-icons.cateogryIcon settings_remote
          .counter
            p.counterNumber(data-target='1600') 0
            p.plusTopic  + topics
        .topic1.thirdTopic
          i.medium.material-icons.cateogryIcon language
          .counter
            p.counterNumber(data-target='1600') 0
            p.plusTopic  + topics
        .topic1.fourthTopic
          i.medium.material-icons.cateogryIcon grade
          .counter
            p.counterNumber(data-target='1600') 0
            p.plusTopic  + topics
    section.popular-courses#popular-courses
      .popular-course-p
        p Most Popular Courses Of This Week
        h1 Our Popular Course
      .popular-cards
        .popular-card
          img(src='./images/popular1 (4).jpg' alt='')
          p Graphic Design
          .popular-icons
            i.medium.material-icons grade
            i.medium.material-icons grade
            i.medium.material-icons grade
            i.medium.material-icons grade
            i.medium.material-icons grade
            .popular-icons-review 102 Review
          hr
          .popular-count
            .popular-person
              i.medium.material-icons person
              p 562
            .popular-person-hearts
              i.medium.material-icons favorite
              p 562
            .popular-free Free
        .popular-card
          img(src='./images/popular1 (2).jpg' alt='')
          p Web Development
          .popular-icons
            i.medium.material-icons.cateogryIcon grade
            i.medium.material-icons.cateogryIcon grade
            i.medium.material-icons.cateogryIcon grade
            i.medium.material-icons.cateogryIcon grade
            i.medium.material-icons.cateogryIcon grade
            .popular-icons-review 452 Review
          hr
          .popular-count
            .popular-person
              i.medium.material-icons person
              p 562
            .popular-person-hearts
              i.medium.material-icons favorite
              p 562
            .popular-free Free
        .popular-card
          img(src='./images/popular1 (3).jpg' alt='')
          p Digital Marketing
          .popular-icons
            i.medium.material-icons.cateogryIcon grade
            i.medium.material-icons.cateogryIcon grade
            i.medium.material-icons.cateogryIcon grade
            i.medium.material-icons.cateogryIcon grade
            i.medium.material-icons.cateogryIcon grade
            .popular-icons-review 64 Review
          hr
          .popular-count
            .popular-person
              i.medium.material-icons person
              p 562
            .popular-person-hearts
              i.medium.material-icons favorite
              p 562
            .popular-free Free
      #CateogryButton.wrapper
        a(href='#')
          span Find More Courses
    section.teachers
      .teachers-p
        p More About Our Faculties
        h1 Our Best Teachers
      .teachers-intro
        .teachers-card
          img(src='./images/Teacher (1).jpg' alt='')
          .teachers-name Sofia Smith
          p Faculty
        .teachers-card
          img(src='./images/Teacher (2).jpg' alt='')
          .teachers-name Katrina Jade
          p Faculty
        .teachers-card
          img(src='./images/Teacher (3).jpg' alt='')
          .teachers-name David Warner
          p Faculty
        .teachers-card
          img(src='./images/Teacher (4).jpg' alt='')
          .teachers-name Alexandria Errosa
          p Faculty
      #Teacher.wrapper
        a(href='#')
          span View All Teachers
    section.about-us
      .about-us-p
        .about-us-p-h1
          p.about-us-primary-p More About Our Company
          h1 Want to Know More
          p.about-us-secondary-p
            | There arge many variations ohf passages of sorem gpsum ilable, but the majority have suffered alteration in some form, by ected humour, or randomised words whi.
          .about-us-div-ul
            p.about-us-ul
              i.medium.material-icons extension
              | Creative ideas base
            p.about-us-ul
              i.medium.material-icons person
              |  Assages of sorem gpsum ilable
            p.about-us-ul
              i.medium.material-icons devices
              |  Have suffered alteration in so
            p.about-us-ul
              i.medium.material-icons developer_mode
              |  Randomised words whi
          #Teacher.wrapper
            a(href='#')
              span More About Us
        .about-us-img
          img(src='./images/about-us-img.jpg' alt='')
    section.news#Blogs
      .news-p
        p Our Latest News Blog
        h1 Latest News From Blog
      .news-card
        .news-1
          img(src='./images/news-1.jpg' alt='')
          .news-1-p
            p | Properties
            h3
              | Footprints in Time is perfect 
              br
              |  House in Kurashiki
            p READ MORE »
        .news-1
          img(src='./images/news-2.jpg' alt='')
          .news-1-p
            p | Properties
            h3
              | Footprints in Time is perfect 
              br
              |  House in Kurashiki
            p READ MORE »
    footer
      .row-1
        h1 Stay Updated
        h1 Let's Get Social 
      .row-2
        .row-2-input
          input.footer-input(type='email' placeholder='Email Address...')
          button.footer-input-btn Subscribe Now
        .footer-icons
          a.fa.fa-facebook(href='#')
          a.fa.fa-twitter(href='#')
          a.fa.fa-linkedin(href='#')
          a.fa.fa-youtube(href='#')
          a.fa.fa-skype(href='#')
      .column-1-h-p
        .column-1-h
          .column-1
            h3 About Us
            ul
              li
                a(href='#') Online Learning
              li
                a(href='#') About Us
              li
                a(href='#') Careers
              li
                a(href='#') Press Center
              li
                a(href='#') Became An Instructor
          .column-1
            h3 Campus
            ul
              li
                a(href='#') Our Plans
              li
                a(href='#') Free Trials
              li
                a(href='#') Acadmic Solutions
              li
                a(href='#') Buisness Solutions
              li
                a(href='#') Goverment Solutions
          .column-1
            h3 Study
            ul
              li
                a(href='#') Admissions Policy
              li
                a(href='#') Getting Started
              li
                a(href='#') Online Application
              li
                a(href='#') Visa Information
              li
                a(href='#') Tution Calender
          .column-1
            h3 Support
            ul
              li
                a(href='#') Support
              li
                a(href='#') Contact Us
              li
                a(href='#') System Requirments
              li
                a(href='#') Register Activation Key
              li
                a(href='#') Site Feedback
      hr
      .last
        p Copyright ©2021 All rights reserved | This template is made with by Colorlib
    script(src='./javascripts/script.js')
